<h1> Otherwise you won't be able to leave it!</h1>
<p>This is the display of website: <%= link_to 'http://www.mta.me/', '	http://www.mta.me/', class: "btn btn-link" %>
<div class= "banner_box"></p>
	<iframe width = "1140" height = "640" src="http://www.mta.me/"></iframe>
</div>
