<h1> Otherwise you won't be able to leave it!</h1>
<p>This is the display of website: <%= link_to 'http://www.mta.me/', '	http://www.mta.me/', class: "btn btn-link" %></p>
<p>Unfortunately, I was unable to solve the problem of mix content. Enforcing https didn't work... Trying to find a solution. The website is able to show on localhost though.</p>

<div class= "banner_box">
	<iframe width = "1140" height = "640" src="https://course-catalog-ziyuqiu.herokuapp.com/relax?url=http://www.mta.me/"></iframe>
</div>
